# Built application files
*.apk
*.aab
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Logs
*.log

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# IDE
.idea/
*.iml
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Keystores
*.jks
*.keystore
*.p12

# Proguard
mapping.txt

# Baseline Profiles
**/baseline-prof.txt

# Outlaw Specific
*.prof
local.properties
