<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:networkSecurityConfig="@xml/network"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Outlaw">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.outlaw.authenticator.QRScannerActivity"
            android:label="@string/title_activity_bitwarden_jsonimport" />

        <activity
            android:name="com.outlaw.authenticator.FileImportActivity"
            android:label="@string/title_activity_file_import" />

        <activity
            android:name="com.outlaw.authenticator.AdbImportActivity"
            android:label="@string/title_activity_adb_import" />

        <activity
            android:name="com.outlaw.authenticator.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.outlaw.authenticator.QRCodeActivity"
            android:label="QR code" />
        <activity
            android:name="com.outlaw.authenticator.AddActivity"
            android:label="Add account" />

        <activity
            android:name="com.outlaw.authenticator.WiFiTransferActivity"
            android:label="Wi-Fi transfer"
            android:exported="true" />

        <activity
            android:name="com.outlaw.authenticator.SendActivity"
            android:label="Send" />

        <activity
            android:name="com.outlaw.authenticator.ReceiveActivity"
            android:label="Receive" />

        <activity
            android:name="com.outlaw.authenticator.ManualEntryActivity"
            android:label="Add account" />

        <activity
            android:name="com.outlaw.authenticator.ExportActivity"
            android:label="Add account" />

        <activity
            android:name="com.outlaw.authenticator.AboutActivity"
            android:label="About" />

        <activity
            android:name="com.outlaw.authenticator.DonateActivity"
            android:label="About" />

        <activity
            android:name="com.outlaw.authenticator.SettingsActivity"
            android:label="Settings" />

    </application>

</manifest>
